@import "../../css-config/mixins.scss";

.products__container{
    margin: 50px 0;

    @include md{
        margin: 75px 0;
    }

    span{
        display: flex;
        align-items: center;
        gap: 8px;

        h3{
            margin-right: 20px;
            font-size: 16px;
            
            @include md{
                font-size: 20px;
            }
        }
    }

    .section__heading{
        font-size: 18px;
        margin-bottom: 20px;
        letter-spacing: 0.8px;
        font-weight: 600;
        font-family: 'Inter', serif;
            text-transform: uppercase;

        @include md{
            margin-bottom: 40px;
            font-size: 24px;
        }

        &:after{
            content: "";
            display: block;
            margin-bottom: 5px;
            width: 50px;
            height: 3px;
            background:  linear-gradient(to right, rgb(196, 22, 227), rgb(168, 1, 168)) ;

            @include md{
                margin-top: 10px;
            }
        }
    }

    .products{
        display: flex;
        flex-flow: wrap;
        gap: 10px;

        @include md{
            gap: 25px;
        }
    }
}