@import "../../css-config/mixins.scss";

.category__main{
    margin: 30px 0;

    @include md{
        margin: 75px 190px;
    }

    .loading{
        margin-left : 10px;
        display: flex;
        align-items: center;

        h3{
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 0.8px;
            gap: 8px;
            margin-right: 20px;

            @include md{
                font-size: 24px;
            } 
        }
    }

    .layout{
        max-width: calc(100% - 20px);
        margin: 0 auto;

        @include md{
            max-width: 1200px;
        }


        .category__title{
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 0.8px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include md{
                font-size: 24px;
            }

            .backToHome{
                padding: 8px 10px;
                color: white;
                border: 2px solid #9401ca;
                background-color: #9401ca;
                cursor: pointer;
                border-radius: 8px;

                @include md{
                    margin-right: 30px;
                }
            }
        }

        .products__container{
            margin: 20px 0;

            @include md{
                margin: 40px 0;
            }

        }

    }


}